<!-- Articles -->
<section class="Articles container">
  <!-- single article -->
  <div class="Article">
    <img src="./assets/Images/turned-gray-laptop-computer.jpg" alt="laptop" />
    <h3 class="article-title">How to make GUI in Java with Example</h3>
    <p class="article-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
      eligendi.
    </p>
    <div class="article-details">
      <img
        class="Article-authot-image"
        src="./assets/Images/young-beautiful-woman-looking-camera-trendy-girl-casual-summer-white-t-shirt-jeans-shorts-positive-female-shows-facial-emotions-funny-model-isolated-yellow.jpg"
        alt="author-image"
      />
      <span class="article-publish-details">
        <span class="article-author-name">Florence</span>
        <span class="article-publish-date">Jan 10,2022</span>
      </span>
      <span class="Article-estimated-time">3 Min Read</span>
    </div>
  </div>
  <div class="Article">
    <img src="./assets/Images/turned-gray-laptop-computer.jpg" alt="laptop" />
    <h3 class="article-title">How to make GUI in Java with Example</h3>
    <p class="article-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
      eligendi.
    </p>
    <div class="article-details">
      <img
        class="Article-authot-image"
        src="./assets/Images/young-beautiful-woman-looking-camera-trendy-girl-casual-summer-white-t-shirt-jeans-shorts-positive-female-shows-facial-emotions-funny-model-isolated-yellow.jpg"
        alt="author-image"
      />
      <span class="article-publish-details">
        <span class="article-author-name">Florence</span>
        <span class="article-publish-date">Jan 10,2022</span>
      </span>
      <span class="Article-estimated-time">3 Min Read</span>
    </div>
  </div>
  <div class="Article">
    <img src="./assets/Images/turned-gray-laptop-computer.jpg" alt="laptop" />
    <h3 class="article-title">How to make GUI in Java with Example</h3>
    <p class="article-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
      eligendi.
    </p>
    <div class="article-details">
      <img
        class="Article-authot-image"
        src="./assets/Images/young-beautiful-woman-looking-camera-trendy-girl-casual-summer-white-t-shirt-jeans-shorts-positive-female-shows-facial-emotions-funny-model-isolated-yellow.jpg"
        alt="author-image"
      />
      <span class="article-publish-details">
        <span class="article-author-name">Florence</span>
        <span class="article-publish-date">Jan 10,2022</span>
      </span>
      <span class="Article-estimated-time">3 Min Read</span>
    </div>
  </div>
  <div class="Article">
    <img src="./assets/Images/turned-gray-laptop-computer.jpg" alt="laptop" />
    <h3 class="article-title">How to make GUI in Java with Example</h3>
    <p class="article-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
      eligendi.
    </p>
    <div class="article-details">
      <img
        class="Article-authot-image"
        src="./assets/Images/young-beautiful-woman-looking-camera-trendy-girl-casual-summer-white-t-shirt-jeans-shorts-positive-female-shows-facial-emotions-funny-model-isolated-yellow.jpg"
        alt="author-image"
      />
      <span class="article-publish-details">
        <span class="article-author-name">Florence</span>
        <span class="article-publish-date">Jan 10,2022</span>
      </span>
      <span class="Article-estimated-time">3 Min Read</span>
    </div>
  </div>
</section>
