<section class="hero container">
  <div class="hero-text">
    <h1>Hi , I'm Ilia</h1>
    <h1>FrontEnd Developer</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolor
      itaque nobis illo accusantium quam.
    </p>
    <div class="formbox">
      <input
        type="email"
        name="txtemail"
        id="txtemail"
        placeholder="Enter your email here ..."
      />
      <button class="btn">Subscribe</button>
    </div>
  </div>
  <div class="hero-image">
    <img src="./assets/Images/hero-image.png" alt="hero image" />
  </div>
</section>
