<!-- navbar starts -->
<header class="main-header">
  <nav class="container navbar">
    <a href="#" class="logo">ILIA<span>.Blog</span></a>
    <div class="nav__toggler">
      <div class="bar bar-one"></div>
      <div class="bar bar-two"></div>
      <div class="bar bar-three"></div>
    </div>
    <ul class="nav__list">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Category</a></li>
      <li class="nav__item"><a href="#">About Me</a></li>
      <li class="nav__item">
        <a href="#"><i class="fa fa-search"></i>Search</a>
      </li>
      <li class="nav__item">
        <a href="#" class="cta"
          ><i class="fas fa-coffee"></i> Buy me a cofffe</a
        >
      </li>
    </ul>
  </nav>
</header>
<!-- navbar ends -->
